.counter {
    position: relative;
    border: 1px solid darkblue;
    padding: 30px;
    width: 300px;
    left: 0;
    right: 0;
    margin: 30px auto;
}



.counter .show-clock {
    display: inline-block;
    position: absolute;
    font-size: 10px;
    bottom: 5px;
    right: 5px;
    color: lightcoral;
}


.counter .show-clock:hover {
    color: red;
    text-decoration: underline;
    cursor: pointer;
}